<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/tasks" method="post">
	<input type="text" name="name" placeholder="Name">
	<textarea name="description" placeholder="Description"></textarea>
	<input type="submit" value="Add Task">
</form>
